@import "bootstrap/dist/css/bootstrap.min.css";
@import "./style.css";
@import "./auth.css";


/* import arabic font */
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap');


.font-arabic {
    font-family: "Readex Pro", sans-serif;
}
