:root {
    --light-mode: #f8f9fa;
    --dark-mode: #343a40;
    --primary-100: #ffffff;
    --primary-200: #f8f9fa;
    --primary-300: #e9ecef;
    --primary-400: #bdbdbd;
    --text-100: #000000;
    --text-200: #6c757d;
    --text-300: #adb5bd;
    --text-400: #3B82F6;
    --text-500: #212529;
    --text-600: #555555;
    --bg: #3B82F6;
    --bg-body: #E6EAF5;
    --bg-circle: #CDCFF1;
    --form-input-bg: rgba(245, 245, 245, 1);
    --bg-login-google: rgba(225, 233, 226, 1);
    --border-color: #eee;
    --btn-bg: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #3B82F6;
    --btn-bg-hover: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #246ddb;
}
@media screen and (max-width: 992px) {
    body::after,
    body::before {
        display: none !important;
    }

    .step_height{
        height:250px;
    }
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Cairo", sans-serif;
    text-decoration: none !important;
}

body {
    background-color: var(--primary-100);
    overflow-x: hidden;
}

.bg_login_google {
    background-color: var(--bg-login-google) !important;
}

.or_label {
    position: relative;
}

.or_label::before {
    content: "" !important;
    position: absolute !important;
    top: 50% !important;
    left: 0 !important;
    width: 100% !important;
    height: 1px !important;
    background-color: var(--border-color) !important;
}

.or_label::after {
    content: "سجل بحسابك" !important;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    background-color: var(--primary-100) !important;
    padding: 0 40px !important;
    color: var(--text-200) !important;
    font-size: 13px !important;
    font-weight: 500 !important;
}

html[lang="en"] .or_label::after {
    content: "Your account" !important;
}

.form-control {
    background-color: var(--form-input-bg) !important;
    border: none;
    border-radius: 0.3rem !important;
    color: var(--text-200) !important;
}

textarea.form-control {
    min-height: 150px !important;
    resize: vertical !important;
}

html[lang="ar"] .form-control:not(input[type="number"], .without_padding) {
    padding-right: 25px !important;
    padding-left: 50px !important;
    text-align: right;
}

html[lang="en"] .form-control:not(input[type="number"], .without_padding) {
    padding-right: 50px !important;
    padding-left: 22px !important;
    text-align: left;
}

input[type="password"] {
    padding-left: 50px !important;
}

html[lang="ar"] input[type="password"] {
    padding-left: 50px !important;
    padding-right: 22px !important;
}

html[lang="en"] input[type="password"] {
    padding-right: 50px !important;
    padding-left: 22px !important;
}

.form-floating>label {
    color: var(--text-200) !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    margin-bottom: 10px !important;
}

html[lang="ar"] .form-floating>label {
    text-align: right !important;
    right: 0 !important;
    left: auto !important;
    text-align: right !important;
}

html[lang="en"] .form-floating>label {
    text-align: left !important;
    left: 0 !important;
    right: auto !important;
}

.rounded-2 {
    border-radius: 0.25rem !important;
}

.rounded-4 {
    border-radius: 0.5rem !important;
}

.rounded-8 {
    border-radius: 0.75rem !important;
}

.rounded-top {
    border-radius: 0.75rem 0.75rem 0 0 !important;
}

/* بعض ال Classes فى حاله العربى والانجليزى */
html[lang="ar"] .text-start {
    text-align: right !important;
}

html[lang="en"] .text-start {
    text-align: left !important;
}

html[lang="ar"] .text-end {
    text-align: left !important;
}

html[lang="en"] .text-end {
    text-align: right !important;
}

html[lang="en"] .start-0 {
    right: 0 !important;
    left: auto !important;
}

html[lang="ar"] .start-0 {
    left: 0 !important;
    right: auto !important;
}

html[lang="en"] .me-3 {
    margin-right: 1rem !important;
}

html[lang="ar"] .me-3 {
    margin-left: 1rem !important;
}

.btn-custom {
    border-radius: 8px;
    background: var(--btn-bg) !important;
    color: var(--primary-100) !important;
    padding: 12px 22px !important;
}

.btn-outline-custom {
    border-radius: 8px;
    background: transparent !important;
    color: var(--bg) !important;
    border: 1px solid var(--bg) !important;
    padding: 12px 22px !important;
}

.btn-outline-custom:hover {
    background: var(--btn-bg-hover) !important;
    color: var(--primary-100) !important;
}

.btn-custom:hover {
    background: var(--btn-bg-hover) !important;
    color: var(--primary-100) !important;
}

nav ul li a.active {
    color: var(--text-400) !important;
    font-weight: 600 !important;
}

nav ul li a:hover {
    color: var(--text-400) !important;
}

.btn_list {
    width: 45px;
    height: 45px !important;
}


html[lang="ar"] .accordion-button::after {
    margin-right: auto !important;
    margin-left: 0 !important;
}

html[lang="en"] .accordion-button::after {
    margin-left: auto !important;
    margin-right: 0 !important;
}

.bg-custom {
    background: var(--bg) !important;
    color: var(--primary-100) !important;
}

.btn.bg-custom:hover {
    background: var(--btn-bg-hover) !important;
}

.card_custom {
    min-height: 200px;
}

.text-ellipsis-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.img_idea {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

@media (max-width: 768px) {
    .img_idea {
        width: 100% !important;
        height: 200px;
    }
}

.text-primary {
    color: var(--text-400) !important;
}

.icon_social {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg);
    transition: transform 0.3s ease;
}

.icon_social:hover {
    transform: translateY(-5px);
}

.line-height-1 {
    line-height: 1.5 !important;
}

.line-height-2 {
    line-height: 2 !important;
}

.img_about {
    width: 608px;
    height: 608px;
    object-fit: cover;
}

@media (max-width: 768px) {
    .img_about {
        width: 100% !important;
        height: 300px;
    }
}

.ul_square {
    list-style-type: square !important;
}

.border_custom_idea {
    border: 1px solid #555555 !important;
    border-top: none !important;
    border-bottom: none !important;
}

@media screen and (max-width: 768px) {
    .border_custom_idea {
        border: 1px solid #555555 !important;
        border-right: none !important;
        border-left: none !important;
    }
}

.bg_idea_num {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}


html[lang="ar"] .text-right {
    text-align: right !important;
}

html[lang="en"] .text-right {
    text-align: left !important;
}

.btn-check:not(:checked)+.btn-outline-primary {
    background-color: var(--primary-200);
    border-color: var(--primary-200);
    color: var(--text-600);
}

.btn-check:not(:checked)+.btn-outline-primary:hover {
    background-color: var(--btn-bg-hover);
    border-color: var(--btn-bg-hover);
    color: var(--text-600);
}

.btn_next {
    background-color: var(--primary-100) !important;
}

.stepper {
    gap: 1px;
}

.stepper-item {
    display: flex;
    align-items: center;
    position: relative;
}

.stepper-circle {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid #d3d6db;
    background: #f8f9fb;
    color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 500;
    transition: background 0.2s, color 0.2s, border 0.2s;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.01);
}

.stepper-item.active_step .stepper-circle {
    background: #2962ff;
    color: #fff;
    border-color: #2962ff;
    box-shadow: 0 2px 8px 0 rgba(41, 98, 255, 0.10);
}

.stepper-connector {
    width: 50px;
    height: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stepper-connector::before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    border-radius: 4px;
    background: repeating-linear-gradient(to left,
            #cfd4db 0 6px,
            transparent 6px 12px);
    opacity: 0.7;
}

@media (max-width: 991.98px) {
    .stepper-circle {
        width: 34px;
        height: 34px;
        font-size: 1.1rem;
    }

    .stepper-connector {
        width: 24px;
        height: 5px;
    }

    .stepper-connector::before {
        height: 5px;
    }
}

@media (max-width: 575.98px) {
    .stepper-circle {
        width: 23px;
        height: 23px;
        font-size: 0.80rem;
    }

    .stepper-connector {
        width: 12px;
        height: 2px;
    }

    .stepper-connector::before {
        height: 2px;
    }
}

.completed_step .stepper-circle {
    background-color: var(--bg);
    color: var(--primary-100);
}

.step_height {
    min-height: 100px;
    max-height: 500px;
    overflow-y: auto;
}

.step_height::-webkit-scrollbar {
    width: 4px;
}

.step_height::-webkit-scrollbar-thumb {
    background-color: var(--primary-300);
    border-radius: 4px;
}

.step_height::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-400);
}

input[type="radio"] {
    width: 20px;
    height: 20px;
}

/* input number outer appearance */
input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.bg_icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.cursor-pointer {
    cursor: pointer;
}

.border-custom {
    border: 1px solid var(--bg) !important;
}

.without_padding {
    padding: 20px 10px !important;
}

.code-input {
    width: 50px;
    height: 40px;
    border: 1px solid var(--bg);
}

.min-vh-70 {
    min-height: 70vh;
}

.status{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
}

/* make small circle in center */
.status {
    position: relative;
}

.status::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -45%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff;
}



